* {
  margin: 0;
  padding: 0;
}

body {
  background-color: beige;
}

header img {
  border-radius: 50%;
  width: 200px;
  margin: 0 auto;
  display: block;
}

header {
  text-align: center;
  padding: 40px;
}

a {
  color: black;
  padding: 0;
}

#about {
  border: 1px solid black;
  border-radius: 56px;
  margin: 60px;
  padding: 12px;
}

#about h3 {
  text-align: center;
  margin: 40px 0;
}

#about p {
  text-align: justify;
  padding: 20px;
}

p span {
  font-weight: bold;
}

footer {
  text-align: center;
  margin: 40px 0;
}

footer h3 {
  margin: 20px auto;
}

ul{
  display: block;
  list-style: none;
}

.social-links {
  display: inline-block;
  margin: auto;
}

.social-links li {
  width: 120px;
  height: 90px;
  margin: auto;
}

.social-links li img {
  width: 70px;
  height: 70px;
}

.social-links li a{
  width: 70px;
  height: 20px;
  margin: 0 25px;
  display: block;
}
